name: Comprehensive Test(直接拉取项目)
on:
  workflow_dispatch:
    inputs: 
      gitcode_owner:
        description: 'GitCode 用户名, 项目URL中可获取'
        required: true
        default: NiceLeee
      gitcode_repo:
        description: 'GitCode 项目名, 项目URL中可获取'
        required: true
        default: NiceLeee
      gitcode_token:
        description: 'GitCode api token'
        required: true
      gitcode_upload_retry_times:
        description: '上传附件失败后的尝试次数'
        required: false
        default: '2'
      runs_on:
        description: '测试平台 ubuntu-latest/windows-latest 等'
        required: true
        default: ubuntu-latest
        
jobs:
  # Job 1: 测试单文件创建release和相关操作  
  test-single-file:
    runs-on: ${{ inputs.runs_on }}
    steps:
    - name: Create test files
      run: |
        mkdir test_dir
        cd test_dir
        echo file1 > test_file1.txt
        echo file2 > test_file2.txt
        echo file3 > test_file3.txt
        echo file4 > test_file4.md
        
    - name: Test create release with single file
      id: create_release_single
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: create_release
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-single-${{ github.run_number }}
        gitcode_release_name: Single File Test v1.0-${{ github.run_number }}
        gitcode_release_body: GitCode single file release test
        gitcode_target_commitish: ""
        gitcode_upload_retry_times: ${{ inputs.gitcode_upload_retry_times }}
        gitcode_file_name: 单文件测试.txt
        gitcode_file_path: ./test_dir/test_file1.txt
          
    - name: Test upload additional single file to existing release
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: upload_asset
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_release_id: ${{ steps.create_release_single.outputs.release-id }}
        gitcode_upload_retry_times: ${{ inputs.gitcode_upload_retry_times }}
        gitcode_file_name: 附加单文件.txt
        gitcode_file_path: ./test_dir/test_file2.txt

    - name: Test upload using tag_name (single)
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: upload_asset
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-single-${{ github.run_number }}
        gitcode_upload_retry_times: ${{ inputs.gitcode_upload_retry_times }}
        gitcode_file_name: 标签上传测试.txt
        gitcode_file_path: ./test_dir/test_file3.txt
        
    - name: Test update asset
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: update_asset
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-single-${{ github.run_number }}
        gitcode_old_asset_name: 单文件测试.txt
        gitcode_new_file_path: ./test_dir/test_file4.md
        
    - name: Test delete specific asset
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: delete_asset
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-single-${{ github.run_number }}
        gitcode_delete_assets: 标签上传测试.txt
        
    - name: Test delete release
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: delete_release
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-single-${{ github.run_number }}

  # Job 2: 测试多文件创建release和相关操作
  test-multi-file:
    runs-on: ${{ inputs.runs_on }}
    steps:
    - name: Create test files
      run: |
        mkdir test_dir
        cd test_dir
        echo file1 > test_file1.txt
        echo file2 > test_file2.txt
        echo file3 > test_file3.txt
        echo file4 > test_file4.md
        echo file5 > test_file5.txt
        
    - name: Test create release with multiple files
      id: create_release_multi
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: create_release
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-multi-${{ github.run_number }}
        gitcode_release_name: Multi File Test v1.0-${{ github.run_number }}
        gitcode_release_body: GitCode multi file release test
        gitcode_target_commitish: ""
        gitcode_upload_retry_times: ${{ inputs.gitcode_upload_retry_times }}
        gitcode_files: |
          ./test_dir/test_file1.txt
          ./test_dir/test_file2.txt
          ./test_dir/test_file4.md
          
    - name: Test upload additional multiple files to existing release
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: upload_asset
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_release_id: ${{ steps.create_release_multi.outputs.release-id }}
        gitcode_upload_retry_times: ${{ inputs.gitcode_upload_retry_times }}
        gitcode_files: |
          ./test_dir/test_file3.txt
          ./test_dir/test_file5.txt

    - name: Test upload using tag_name (multi)
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: upload_asset
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-multi-${{ github.run_number }}
        gitcode_upload_retry_times: ${{ inputs.gitcode_upload_retry_times }}
        gitcode_file_name: 多文件标签上传.txt
        gitcode_file_path: ./test_dir/test_file1.txt
        
    - name: Test delete multiple assets
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: delete_asset
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-multi-${{ github.run_number }}
        gitcode_delete_assets: |
          多文件标签上传.txt
          test_file1.txt
        
    - name: Test delete release
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: delete_release
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-multi-${{ github.run_number }}

  # Job 3: 测试使用已存在release ID的场景
  test-existing-release:
    runs-on: ${{ inputs.runs_on }}
    steps:
    - name: Create test files
      run: |
        mkdir test_dir
        cd test_dir
        echo file1 > test_file1.txt
        echo file2 > test_file2.txt
        echo file3 > test_file3.txt
        echo file4 > test_file4.md
        
    - name: Create base release for testing
      id: create_base_release
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: create_release
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-existing-${{ github.run_number }}
        gitcode_release_name: Existing Release Test v1.0-${{ github.run_number }}
        gitcode_release_body: Test using existing release ID
        gitcode_target_commitish: ""
        gitcode_upload_retry_times: ${{ inputs.gitcode_upload_retry_times }}
        
    - name: Test upload single file to existing release by ID
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: upload_asset
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_release_id: ${{ steps.create_base_release.outputs.release-id }}
        gitcode_upload_retry_times: ${{ inputs.gitcode_upload_retry_times }}
        gitcode_file_name: 已存在ID单文件.txt
        gitcode_file_path: ./test_dir/test_file1.txt
        
    - name: Test upload multiple files to existing release by ID
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: upload_asset
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_release_id: ${{ steps.create_base_release.outputs.release-id }}
        gitcode_upload_retry_times: ${{ inputs.gitcode_upload_retry_times }}
        gitcode_files: |
          ./test_dir/test_file2.txt
          ./test_dir/test_file3.txt
          ./test_dir/test_file4.md
        
    - name: Test delete release
      uses: nicennnnnnnlee/action-gitcode-release@master
      with:
        gitcode_action: delete_release
        gitcode_owner: ${{ inputs.gitcode_owner }}
        gitcode_repo: ${{ inputs.gitcode_repo }}
        gitcode_token: ${{ inputs.gitcode_token }}
        gitcode_tag_name: v1.0-existing-${{ github.run_number }}
